
@media (min-width: 50rem) {
    .side-bar {
      flex-flow: column nowrap;
      position: fixed;
      width: 9rem;
      height: 100%;
      border-right: 1px solid #eeebee;
      align-items: flex-end;
    }
  }
  @media (min-width: 66.5rem) {
    .side-bar {
      width: calc((100% - 66.5rem) / 2 + 8.5rem);
      min-width: 8.5rem;
    }
  }
  @media (min-width: 50rem) {
    .side-bar + .main {
      margin-left: 9rem;
    }
  }
  @media (min-width: 66.5rem) {
    .side-bar + .main {
      margin-left: max(8.5rem, (100% - 66.5rem) / 2 + 8.5rem);
    }
  }